<?xml version="1.0" encoding="UTF-8"?>
<beans   xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns:context="http://www.springframework.org/schema/context"
xsi:schemaLocation="http://www.springframework.org/schema/beans
 http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
 http://www.springframework.org/schema/context
 http://www.springframework.org/schema/context/spring-context-3.1.xsd
 http://www.springframework.org/schema/beans
 http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">
 
    <!-- Enable annotation scanning -->
<context:component-scan base-package="com.packt.wicket" />

  <bean id="derbydataSource" class="com.packt.wicket.TenantRoutingDataSource ">
      <property name="targetDataSources">
            <map>
                  <entry key="Tenant1" value-ref="tenant1DataSource"/>
                  <entry key="Tenant2" value-ref="tenant2DataSource"/>
            </map>
      </property>
</bean>
    <bean id="tenant1DataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
	<property name="driverClassName" value="org.apache.derby.jdbc.EmbeddedDriver" />
	<property name="url" value="jdbc:derby://localhost:1527/client1" />
	<property name="username" value="client1" />
	<property name="password" value="client1" />
           
    </bean>
   <bean id="tenant2DataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
	<property name="driverClassName" value="org.apache.derby.jdbc.EmbeddedDriver" />
	<property name="url" value="jdbc:derby://localhost:1527/client2" />
	<property name="username" value="client2" />
	<property name="password" value="client2" />
       
   </bean>
   <bean id="mysqldb" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
	<property name="driverClassName" value="com.mysql.jdbc.Driver" />
	<property name="url" value="jdbc:mysql://192.168.0.195:3306/test1" />
	<property name="username" value="root" />
	<property name="password" value="prdc123" />
           
    </bean>
</beans>