<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>jaas-jboss</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>index.jsp</web-resource-name>
      <description>Declarative security tests</description>
      <url-pattern>/ProtectedServlets</url-pattern>
      <http-method>HEAD</http-method>
      <http-method>GET</http-method>
      <http-method>POST</http-method>
      <http-method>PUT</http-method>
      <http-method>DELETE</http-method>
    </web-resource-collection>
    <auth-constraint>
      <role-name>role1</role-name>
    </auth-constraint>
    <user-data-constraint>
      <description>no description</description>
      <transport-guarantee>NONE</transport-guarantee>
    </user-data-constraint>
  </security-constraint>
<!--    <security-constraint> -->
<!--     <web-resource-collection> -->
<!--       <web-resource-name>index.jsp</web-resource-name> -->
<!--       <description>Declarative security tests</description> -->
<!--       <url-pattern>/AnnotedProtectedServlet</url-pattern> -->
<!--       <http-method>HEAD</http-method> -->
<!--       <http-method>GET</http-method> -->
<!--       <http-method>POST</http-method> -->
<!--       <http-method>PUT</http-method> -->
<!--       <http-method>DELETE</http-method> -->
<!--     </web-resource-collection> -->
<!--     <auth-constraint> -->
<!--       <role-name>role1</role-name> -->
<!--     </auth-constraint> -->
<!--     <user-data-constraint> -->
<!--       <description>no description</description> -->
<!--       <transport-guarantee>NONE</transport-guarantee> -->
<!--     </user-data-constraint> -->
<!--   </security-constraint> -->
<!--   <login-config> -->
<!--     <auth-method>FORM</auth-method> -->
<!--     <form-login-config> -->
<!--       <form-login-page>/Containerform.jsp</form-login-page> -->
<!--       <form-error-page>/logoff.jsp</form-error-page> -->
<!--     </form-login-config> -->
<!--   </login-config> -->
<login-config>
    <auth-method>DIGEST</auth-method>
    <realm-name>PACKTSecurity</realm-name>
</login-config>

  <security-role>
    <description>some role</description>
    <role-name>role1</role-name>
  </security-role>
  <security-role>
    <description>packt managers</description>
    <role-name>manager</role-name>
  </security-role>
  <servlet>
    <description></description>
    <display-name>SecurityCheckerServlet</display-name>
    <servlet-name>SecurityCheckerServlet</servlet-name>
    <servlet-class>com.servlets.SecurityCheckerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SecurityCheckerServlet</servlet-name>
    <url-pattern>/SecurityCheckerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProtectedServlets</display-name>
    <servlet-name>ProtectedServlets</servlet-name>
    <servlet-class>com.servlets.ProtectedServlets</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProtectedServlets</servlet-name>
    <url-pattern>/ProtectedServlets</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AnnotedProtectedServlet</display-name>
    <servlet-name>AnnotedProtectedServlet</servlet-name>
    <servlet-class>com.servlets.AnnotedProtectedServlet</servlet-class>
    
  </servlet>
  <servlet-mapping>
    <servlet-name>AnnotedProtectedServlet</servlet-name>
    <url-pattern>/AnnotedProtectedServlet</url-pattern>
  </servlet-mapping>
</web-app>