<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security" xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
 http://www.springframework.org/schema/security
 http://www.springframework.org/schema/security/spring-security-3.1.xsd">
	<http auto-config="true" >
		<intercept-url pattern="/springgwtldapsecurity/**" access="ROLE_AUTHOR"/>
        <intercept-url pattern="/springgwtldapsecurity/**" access="ROLE_AUTHOR"/>
        <intercept-url pattern="/**/*.html" access="ROLE_AUTHOR"/>
        <intercept-url pattern="/**" access="IS_AUTHENTICATED_ANONYMOUSLY" />
		<http-basic />
	</http>
<authentication-manager>
	        <ldap-authentication-provider 
					user-search-filter="(mail={0})" 
					user-search-base="ou=people"
					group-search-filter="(uniqueMember={0})"
	        		group-search-base="ou=groups"
	        		group-role-attribute="cn"
	        		role-prefix="ROLE_">
	        </ldap-authentication-provider>
	</authentication-manager>
	
	<ldap-server url="ldap://localhost:389/o=example" manager-dn="uid=admin,ou=system" manager-password="secret" />
</beans:beans>